body{
	background-color: black;}

html,body{
	height: 100%;}

/*HEADER STYLING*/
.jumbotron{
	margin-bottom:0px;
	position: relative;
	background-color: }

.nav-tabs{
	position: absolute;
	bottom: 0;
	right: 5%;
	left: 5%;}

.nav-tabs>.Off>a{
	background-color:#A33210;
	border-color: #5C1805;
	border-width: 2px;
	color: white;
	border-bottom:0px;
    border-top-right-radius:15px;
	border-top-left-radius:15px;}

.nav-tabs>.On>a:hover,.nav-tabs>.On>a:focus,.nav-tabs>.On>a:active{
	background-color:#438240;
	border-color:#063305;}

.nav-tabs>.On>a{
	background-color:#438240;
	border-color:#063305;
	border-width: 2px;
	color: white;
	border-bottom:0px;
    border-top-right-radius:15px;
	border-top-left-radius:15px;}

.nav-tabs>.Off>a:hover,.nav-tabs>.Off>a:focus,.nav-tabs>.Off>a:active{
	background-color:#A33210;
	border-color: #5C1805;}

#CombinedSites{
	float: right;}


/*MAIN CONTENT STYLING*/
.fill{
	min-height:70%;
	height: 70%;}

#MainContent{
	border-radius: 15px;
	margin-top: 20px;
	float: left;
	max-width: 775px;
	width: 100%;
	min-height: 100%;
	height: 100%;
	background-color: grey;
	overflow: auto;}

.Tweet{
	border-radius: 15px;
	margin: 20px;
	padding: 20px;
	background-color: #4e5d6c;}

.Tweet:focus{
	border-color: blue;}

.TweetName{
	font-size: 20px;}

.TweetTime{
	font-size: 12px;}

.TweetText{
	margin-top: 10px;
}